---
title: Archives
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>ARCHIVES</h2>
</div>


<main class="tags-content" style="margin-top: 0px">
  <ul class="tags-list" style="padding:40px">
    {% for post in site.posts %}
      
        {% unless post.next %}
          <h3 style="margin-bottom: 8px">{{ post.date | date: "%Y-%m-%d" }}</h3>
        {% else %}
        {% capture year %}{{ post.date | date: "%Y-%m-%d" }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: "%Y-%m-%d" }}{% endcapture %}
        
        {% if year != nyear %}
           <h3 style="margin-bottom: 8px">{{ post.date | date: "%Y-%m-%d" }}</h3>
        {% endif %}
        {% endunless %}
       
       <li> 
           <a href="{{ post.url }}" style="color: black">{{ post.date | date:"%Y-%m-%d_%T" }}  {{ post.title }}</a>
       </li>
       
    {% endfor %}
  </ul>
</main>
{% include footer.html %}
